{% extends 'base.html' %}

{% block page_title %}Server List{% endblock %}

{% block content %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Purpose</th>
        <th>Cost</th>
        <th>IPs</th>
        <th>Purchased on</th>
        <th>Next due on</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for server in servers %}
      <tr{% if server.is_cancelled %} class="text-muted"{% endif %}>
        <td>{{ server.pk }}</td>
        <td><a href="{% url 'servers.views.view_server' server.pk %}">{{ server.name }}</a></td>
        <td>
          {% if server.has_purpose %}
            {% for purpose in server.purposes.all %}
              <span class="label label-info">{{ purpose.name }}</span>
            {% endfor %}
          {% else %}
            <span class="label label-warning">Not in use</span>
          {% endif %}
        </td>
        <td>{{ server.currency }}&nbsp;{{ server.cost }}</td>
        <td>{{ server.get_ips|join:"<br />" }}</td>
        <td>{{ server.purchased_at }}</td>
        <td>{% if server.has_next_due_date %}{{ server.next_due_date }}<br /><span class="text-success">({% if server.billed_automatically %}billed automatically{% else %}{{ server.next_due_date | timeuntil }}{% endif %}){% else %}cancelled<br />effective {{ server.cancelled_at }}{% endif %}</span></td>
        <td>
          {% if server.check_status %}
            {% if server.is_up %}
              <span class="label label-success">Online</span>
            {% else %}
              <span class="label label-danger">Offline</span>
            {% endif %}
            <br />
            {{ server.time_since_last_change | timesince }}
          {% else %}
            <span class="label label-info">Not Checking</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
