{% extends 'base.html' %}

{% block page_title %}
  Server Details
  <small>
    {{ server.name }}
    {% if server.check_status %}
      {% if server.is_up %}
        <span class="label label-success">Server Online!</span>
      {% else %}
        <span class="label label-danger">Server Offline!</span>
      {% endif %}
    {% endif %}
  </small>
{% endblock %}

{% block content %}

  {% include 'servers/progress_bar.html' with percentage=server.percentage_time_used type=server.bar_type %}

  <div class="panel panel-default">
    <div class="panel-heading"><span class="text-info">{{ server.name }}</span> details</div>
    <table class="table">

      <tr>
        <td><strong>Name</strong></td>
        <td>{{ server.name }}</td>
      </tr>

      <tr>
        <td><strong>Cost</strong></td>
        <td>${{ server.cost }}</td>
      </tr>

      <tr>
        <td><strong>Main IP</strong></td>
        <td>{{ server.main_ip }}</td>
      </tr>

      <tr>
        <td><strong>Total IPs</strong></td>
        <td>{{ server.total_ip_count }}</td>
      </tr>

      <tr>
        <td><strong>Next due on</strong></td>
        <td>{{ server.next_due_date }} <span class="text-success">({{ server.next_due_date | timeuntil }})</span></td>
      </tr>

      <tr>
        <td><strong>Billing type</strong></td>
        <td>{{ server.get_billing_type_display }}</td>
      </tr>

      <tr>
        <td><strong>Purchased on</strong></td>
        <td>{{ server.purchased_at }}</td>
      </tr>
      {% if server.check_status %}
      <tr>
        <td><strong>{% if server.is_up %}Online{% else %}Offline{% endif %} time</strong></td>
        <td>{{ server.time_since_last_change | timesince }}</td>
      </tr>
      {% endif %}

    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><span class="text-info">{{ server.name }}</span> specification</div>
    <table class="table">

      <tr>
        <td><strong>Number of cores</strong></td>
        <td>{{ server.number_cores }}</td>
      </tr>

      <tr>
        <td><strong>Bandwidth</strong></td>
        <td>{{ server.bandwidth }} GB</td>
      </tr>

      <tr>
        <td><strong>Ram total</strong></td>
        <td>{{ server.ram }} MB</td>
      </tr>

      <tr>
        <td><strong>Burstable RAM</strong></td>
        <td>{{ server.burst }} MB</td>
      </tr>

      <tr>
        <td><strong>HDD Capacity</strong></td>
        <td>{{ server.hdd_space }}</td>
      </tr>

      <tr>
        <td><strong>Virtualisation Type</strong></td>
        <td>{{ server.get_virt_type_display }}</td>
      </tr>

    </table>
  </div>

  {% if server.has_notes %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
      </div>
      <div class="panel-body">
        {{ server.html_notes|safe }}
      </div>
    </div>
  {% endif %}

  {% if server.total_ip_count != 0 %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Other IP Addresses</h3>
    </div>

    <ul class="list-group">
      {% for ip in server.extra_ip_set.all %}
        <li class="list-group-item">{{ ip.ip }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if server.has_uptime_history %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Uptime history</h3>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>IP Checked</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for uptime_log in server.uptime_history %}
      <tr>
        <td>{{ uptime_log.check_date }}</td>
        <td>{{ uptime_log.ip_address }}</td>
        <td>
          {% if uptime_log.online %}
            <span class="label label-success">Online</span>
          {% else %}
            <span class="label label-danger">Offline</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

  <div class="btn-group btn-group-justified">
    <a class="btn btn-success" href="{% url 'admin:servers_server_add' %}">Create New</a>
    <a class="btn btn-primary" href="{% url 'admin:servers_server_change' server.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'admin:servers_server_delete' server.pk %}">Delete</a>
  </div>
  <br />
{% endblock %}