{% extends 'base.html' %}

{% block page_title %}Server Details <small>{{ server.name }}</small>{% endblock %}

{% block content %}
  {{ server.name }}

  <div class="btn-group btn-group-justified">
    <a class="btn btn-success" href="{% url 'admin:servers_server_add' %}">Create New</a>
    <a class="btn btn-primary" href="{% url 'admin:servers_server_change' server.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'admin:servers_server_delete' server.pk %}">Delete</a>
  </div>
{% endblock %}