Django==1.5.2
Fabric==1.7.0
South==0.8.2
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.32
celery==3.0.22
redis==2.8.0
django-celery==3.0.21
kombu==2.5.13
paramiko==1.11.0
pycrypto==2.6
python-dateutil==2.1
pytz==2013b
requests==1.2.3
MySQL-python==1.2.4
