<html>
  <head>
    <title>Server is down!</title>
  </head>
  <body>
    <h1 style="font-family: Arial, serif">
      Server
    <span style="color: red">{{ server.name }}</span>
      is now down.
    </h1>

    The ping exited with status code {{ ping.status_code }}.
    Full output of the error can be seen below.
    <br /><br />
    The ping has failed for the IP at {{ ping.hostname }} with the date {{ server_log.check_date }}!
    <br /><br />
    The error log was:

    {% include 'servers/emails/email_log.html' %}

  </body>
</html>