{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Server Listing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen">
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills" style="margin-top: 20px;">
      <li class="active"><a href="{% url 'servers.views.server_list' %}">Home</a></li>
      <li><a href="{% url 'admin:index' %}">Manage Servers</a></li>
    </ul>
    <h1 class="page-header">{% block page_title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
  <script src="{% static 'jquery/jquery-2.0.3.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>